.thanks-text{
  width: 80%;
  max-width: 400px;
  margin: auto;
  text-align: center;
}
.share-links{
  width: 50%;
  max-width: 250px;
  text-align: center;
  margin: auto;
  font-size: 3em;
  padding: 0.5em;
}