.intro{
  width: 80%;
  max-width: 700px;
  margin: auto;
  margin-bottom: 2em;
  text-align: center;
}

.form-wrapper{
  width: 90%;
  max-width: 700px;
  margin: auto;
}
form{

  & label{
    width: 40%;
    text-align: right;
  }
  & [type="submit"]{
    display: block;
    margin: auto;
  }
}

.site-footer{
  text-align: center;
  position: fixed;
  margin: auto;
  border: none;
  bottom: 0;
  width: 100%;
}

.home{
  padding-top: 4em;
}